.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content{
    border: 5px solid black;
    flex: 1 1 66%;
}

main .sidebar{
    border: 5px solid black;
    flex: 1 1 33%;
}

header{
    border: 5px solid black;
    height: 100px;
}

nav{
    border: 5px solid black;
    height: 40px;
}

footer{
    border: 5px solid black;
    height: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p{
    font-size: 20px;
    font-weight: 700;
}